body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
  font-size: 64px;
  font-family: 'Press Start 2P', cursive;
}

a{
  color: orange;
  text-decoration:none;
}

p {
  color: orange;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  margin-right: 64px;
}

.header_image {
  height: 100px;
  width: 1400px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.header_top {
  display: flex;
}

.menu {
  display: flex;
  justify-content: center;
}

.main_content {
  justify-content: center;
  display: flex;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px:
}

.main_image {
  height: 300px;
}

.main_text{
  color: darkblue;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  width: 800px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
}

.works{
  margin-top: 100px;
}
